<p class="text-center text-muted fixed-bottom">
    © Copyright
    <script>
        var CurrentYear = new Date().getFullYear()
        document.write(CurrentYear) 
    </script> All rights reserved

</p>