<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Url Shortener</title>
<!-- bootswatch flatly CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css">
<style>
    body {
        padding-top: 50px;
    }
    [hidden] { display: none; }
</style>